.background{
	background: rgba(0,0,0,0.6) url('../images/bg.jpg');
	background-blend-mode: darken;
}
.background-cycles{
	background: rgba(0,0,0,.7) url('../images/cy-bg.jpg');
	background-blend-mode: darken;
	shape-image-threshold:
}
.background-phones{

}
.background-watches{

}
.background-health{

}
/*html , body{
	background-color: #FFEEAD
}*/
.nav-bar {
	border:2px solid white;
	border-radius: 10px;
	background-color: #00f0f0;
	display: flex;
	justify-content:space-evenly;
	align-content: center;
	flex-direction: row;
}

.topBar{
	display:flex;
	justify-content:space-evenly;	
}
.topBarLeft{
}
.topBarRIght{
}